.ipynb_checkpoints/
.snakemake/
code/.ipynb_checkpoints/
code/datasets
code/kraken2
code/unused
data/genomes
data/ncbi-genomes-2021-03-10
data/ncbi-genomes-2021-03-24
data/out
data/plasmodium_genomes
data/report.txt
data/schistosoma_genomes
data/seq_data
ref/
results/
scratch/
taxdump.tar.gz
trash/
